<div class="container-fluid" style="background-color: #284265;">
    
        <div class="row px-5 mx-5">
            <div class="col-lg-4 col-md-12 p-0 pe-2 pt-5">
                <p class="text-white fw-bolder">Contacts</p>
                <div class="row">
                    <div class="col-1">
                        <i class="bi bi-geo-alt text-white"></i>
                    </div>
                    <div class="col-11 p-0">
                        <p class="text-white fw-light">18th Floor, W Fifth, 5th Avenue, Taguig, 1630 Metro Manila</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-1">
                        <i class="bi bi-envelope text-white"></i>
                    </div>
                    <div class="col-11 p-0">
                        <p class="text-white fw-light">help@kodego.ph</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-12 pt-3">
                <p class="text-white fw-bolder">Quick Links</p>
                <div class="row">
                    <div class="col">
                        <p><a class="link-offset-2 link-underline link-underline-opacity-0 text-white fw-light" href="">About Us</a></p>
                        <p><a class="link-offset-2 link-underline link-underline-opacity-0 text-white fw-light" href="">How It works</a></p>
                        <p><a class="link-offset-2 link-underline link-underline-opacity-0 text-white fw-light" href="">Courses</a></p>
                        <p><a class="link-offset-2 link-underline link-underline-opacity-0 text-white fw-light" href="">Careers</a></p>
                    </div>
                    <div class="col">
                        <p><a class="link-offset-2 link-underline link-underline-opacity-0 text-white fw-light" href="">Partners</a></p>
                        <p><a class="link-offset-2 link-underline link-underline-opacity-0 text-white fw-light" href="">Terms and Conditions</a></p>
                        <p><a class="link-offset-2 link-underline link-underline-opacity-0 text-white fw-light" href="">Privacy Policy</a></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-12 pt-5 mt-5">
                <div class="row">
                    <div class="col">
                        <p class="text-white fw-bolder">Follow Us</p>
                        <img class="pe-2 me-2" src="/images/social/facebook.png" alt="">
                        <img class="pe-2 me-2" src="/images/social/instagram.png" alt="">
                        <img class="pe-2 me-2" src="/images/social/twitter.png" alt="">
                        <img class="pe-2 me-2" src="/images/social/youtube.png" alt="">
                    </div>
                </div>
            </div>
        </div>

        <div class="rowpx-5 mx-5">
            <div class="col">
            <hr style="margin-top: 1rem;
            margin-bottom: 1rem;
            border: 0;
            border-top: 2px solid white;">
            </div>
        </div>
        <div class="row px-5 mx-5 mt-5">
            <div class="col-md-12 col-lg-6 mt-3 text-lg-start text-sm-center"><img src="/images/kodego-large.svg" style="filter: brightness(0) invert(1); width: 160px;" alt=""></div>
            <div class="col-md-12 col-lg-6 mt-3">
                <p class="text-lg-end text-sm-center text-white fw-light">© 2023 KodeGo All Rights Reserved</p>
            </div>
        </div>

</div>

</body>
</html>