<div class="container-fluid" style="background-image: url('/images/banner-background.e3c9455.png');background-repeat: no-repeat;background-size:auto;height: 930px;">
        <div class="row align-items-center vh-100 px-5 mx-5">
            <div class="col ms-4 ps-5 pt-5 mt-5">
                <h1 class="text-white ms-4 fw-bolder">We don't just teach code.</h1>
                <p class="mb-md-4 mt-3 ms-4 text-white fs-5">
                    We teach code that gets your hired. At KodeGo, our graduates
                    undergo intensive tech bootcamps and are then placed with our
                    Company partners
                </p>
                <a href="" class="btn btn-success btn-lg fs-5 fw-bolder ms-4 mt-4 px-5" style="width: 350px;padding: 15px;background-color: #a3cb38;">Apply Now</a>
            </div>
            <div class="col pt-5">
                <img src="/images/banner2.9ead8e9.png" class="img-fluid">
            </div>
        </div>
</div>

<div class="container-fluid bg-light pb-5">
    <div class="row p-5">
        <div class="col p-5">
            <h2 class="text-center text-primary-emphasis">Trusted by Local & International Organizations</h2>
        </div>
    </div>

    <!-- Carousel -->
<div id="demo" class="carousel slide" data-bs-ride="carousel">

    <!-- Indicators/dots -->
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active"></button>
      <button type="button" data-bs-target="#demo" data-bs-slide-to="1"></button>
      <button type="button" data-bs-target="#demo" data-bs-slide-to="2"></button>
      <button type="button" data-bs-target="#demo" data-bs-slide-to="3"></button>
      <button type="button" data-bs-target="#demo" data-bs-slide-to="4"></button>
    </div>
    
    <!-- The slideshow/carousel -->
    <div class="container carousel-inner">

      <div class="carousel-item active">
        <div class="row">

            <div class="col py-5">
                <img src="/images/carousel/Accenture.PNG" class="d-block" style="width:150px">
            </div>
            <div class="col py-5">
                <img src="/images/carousel/ALLCARD TECHNOLOGIES.png" class="d-block" style="width:150px">
            </div>
            <div class="col py-5">
                <img src="/images/carousel/Asticom.png" class="d-block" style="width:150px">
            </div>
            <div class="col py-5">
                <img src="/images/carousel/Cascadeo.png" class="d-block" style="width:150px">

            </div>
            <div class="col py-5">
                <img src="/images/carousel/DXC Technology.png" class="d-block" style="width:150px">
            </div>

        </div>
        
      </div>

      <div class="carousel-item">

        <div class="row">

            <div class="col py-5">
                <img src="/images/carousel/Fligno.png" class="d-block" style="width:150px">
            </div>
            <div class="col py-5">
                <img src="/images/carousel/Flowerstore.png" class="d-block" style="width:150px">
            </div>
            <div class="col py-5">
                <img src="/images/carousel/GCash.png" class="d-block" style="width:150px">
            </div>
            <div class="col py-5">
                <img src="/images/carousel/Growsari.png" class="d-block" style="width:150px">

            </div>
            <div class="col py-5">
                <img src="/images/carousel/HealthNow.png" class="d-block" style="width:150px">
            </div>

        </div>

      </div>

      <div class="carousel-item">

        <div class="row">

            <div class="col py-5">
                <img src="/images/carousel/heywork2.png" class="d-block" style="width:150px">
            </div>
            <div class="col py-5">
                <img src="/images/carousel/HumanIncubator.png" class="d-block" style="width:150px">
            </div>
            <div class="col py-5">
                <img src="/images/carousel/laybare.png" class="d-block" style="width:150px">
            </div>
            <div class="col py-5">
                <img src="/images/carousel/logo-v3.png" class="d-block" style="width:150px">

            </div>
            <div class="col py-5">
                <img src="/images/carousel/Mynt.png" class="d-block" style="width:150px">
            </div>

        </div>


      </div>

      <div class="carousel-item">

        <div class="row">

            <div class="col py-5">
                <img src="/images/carousel/Ntek_Systems.png" class="d-block" style="width:150px">
            </div>
            <div class="col py-5">
                <img src="/images/carousel/personiv.png" class="d-block" style="width:150px">
            </div>
            <div class="col py-5">
                <img src="/images/carousel/Rococo_Global.png" class="d-block" style="width:150px">
            </div>
            <div class="col py-5">
                <img src="/images/carousel/service_101.png" class="d-block" style="width:150px">

            </div>
            <div class="col py-5">
                <img src="/images/carousel/SFlogo.png" class="d-block" style="width:150px">
            </div>

        </div>

        
      </div>

      <div class="carousel-item">

        <div class="row">

            <div class="col py-5">
                <img src="/images/carousel/SnapMart.png" style="width:150px">
            </div>
            <div class="col py-5">
                <img src="/images/carousel/spring_valley-removebg-preview.png" class="d-block" style="width:150px">
            </div>
            <div class="col py-5">
                <img src="/images/carousel/Stratpoint_Logo_sp-gradient-logo.png" class="d-block" style="width:150px">
            </div>
            <div class="col py-5">
                <img src="/images/carousel/Terp.png" class="d-block" style="width:150px">

            </div>
            <div class="col py-5">
                <img src="/images/carousel/The_Nerds_Solutions.png" class="d-block" style="width:150px">
            </div>

        </div>

      </div>

      <div class="carousel-item">

        <div class="row">

            <div class="col py-5">
                <img src="/images/carousel/ThirdPillar.png" style="width:150px">
            </div>
            <div class="col py-5">
                <img src="/images/carousel/TOA GLOBAL.png" class="d-block" style="width:150px">
            </div>
            <div class="col py-5">
                <img src="/images/carousel/TRANSPORTIFY.png" class="d-block" style="width:150px">
            </div>
            <div class="col py-5">
                <img src="/images/carousel/WHITE_CLOAK_v2.png" class="d-block" style="width:150px">

            </div>
            <div class="col py-5">
                <img src="/images/carousel/XURPAS.png" class="d-block" style="width:150px">
            </div>

        </div>

      </div>

    </div>
    
    <!-- Left and right controls/icons -->
    <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
        <i class="bi bi-arrow-left-circle fs-4 text-secondary"></i>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
        <i class="bi bi-arrow-right-circle fs-4 text-secondary"></i>
    </button>
  </div>

</div>


<!-- Learn Tech Skills -->
<div class="row mt-5">
    <div class="col">
        <h2 class="text-center text-primary-emphasis">Learn Tech Skills That Employers Demand</h2>
    </div>
</div>
<div class="container-fluid mt-5" style="background: url('/images/Tech/Frame2.8c85b29.png') no-repeat center center;">
    
    <div class="d-flex flex-wrap gap-3 justify-content-evenly">
        <div class="shadow rounded-5 border border-0">
            <div class="card rounded-5 border border-0" style="width: 18rem;height: 20rem;">
                <img src="/images/Tech/banner2.9ead8e9.png" class="card-img-top rounded-top-5 border border-0" alt="...">
                <div class="card-body p-3">
                    <h5 class="card-title">Industry-Driven Curriculum</h5>
                    <p class="card-text">Our curriculum is patterned after in-demand tech skills and soft skills sought by companies</p>
                </div>
            </div>
        </div>
        <div class="shadow rounded-5 border border-0">
            <div class="card rounded-5 border border-0" style="width: 18rem;height: 20rem;">
                <img src="/images/Tech/industry-partners.52e8308.png" class="card-img-top rounded-top-5 border border-0" alt="...">
                <div class="card-body p-3">
                    <h5 class="card-title">Hundreds of Industry Partners</h5>
                    <p class="card-text">We work with global companies that hire our graduates</p>
                </div>
            </div>
        </div>
        <div class="shadow rounded-5 border border-0">
            <div class="card rounded-5 border border-0" style="width: 18rem;height: 20rem;">
                <img src="/images/Tech/hands-on-teaching.033b7f5.png" class="card-img-top rounded-top-5 border border-0" alt="...">
                <div class="card-body p-3">
                    <h5 class="card-title">Hands-On Teaching</h5>
                    <p class="card-text">Dedicated instructors adjust to students learning paces whether they are beginners or career-shifters</p>
                </div>
            </div>
        </div>
        <div class="shadow rounded-5 border border-0">
            <div class="card rounded-5 border border-0" style="width: 18rem;height: 20rem;">
                <img src="/images/Tech/pay-only-when-hired.aecf4fe.png" class="card-img-top rounded-top-5 border border-0" alt="...">
                <div class="card-body p-3">
                    <h5 class="card-title">Pay Only When Hired</h5>
                    <p class="card-text">Pay a maximum of 17% only once you have secured a job</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Joining KodeGo is easy. Here's how: -->

<div class="container-fluid p-5 bg-light mt-5">
    <div class="d-flex justify-content-between px-5">
        <div class="d-inline">
            <div>
                <h1 class="fw-bolder text-primary-emphasis">Joining KodeGo is easy. Here's how:</h1>
                <p class="fs-5 mb-5">It doesn’t matter if you're a beginner or a career shifter. Train remotely with KodeGo's bootcamps and we'll match you to a company that can jumpstart your tech career.</p>
                <div class="row">
                    <div class="col-sm-12 col-md-6 col-lg-12 col-xl-12">
                        <div class="row">
                            <div class="col-1 text-end">
                                <i class="bi bi-1-circle text-danger fs-3"></i>
                            </div>
                            <div class="col-11 px-3">
                                <h5 class="mb-3">Apply Through Our Website</h5>
                                <p class="text-black-50">Create your very own profile and complete our quick self-assessment test.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-12 col-xl-12">
                        <div class="row">
                            <div class="col-1 text-end">
                                <i class="bi bi-2-circle text-danger fs-3"></i>
                            </div>
                            <div class="col-11 px-3">
                                <h5 class="mb-3">Join Our Bootcamp</h5>
                                <p class="text-black-50">Once you've completed signing up, choose from one of our many IT bootcamp courses.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-12 col-xl-12">
                        <div class="row">
                            <div class="col-1 text-end">
                                <i class="bi bi-3-circle text-danger fs-3"></i>
                            </div>
                            <div class="col-11 px-3">
                                <h5 class="mb-3">Get Employed</h5>
                                <p class="text-black-50">After graduation, the KodeGo team helps you find a job that matches your skills.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-12 col-xl-12">
                        <div class="row">
                            <div class="col-1 text-end">
                                <i class="bi bi-4-circle text-danger fs-3"></i>
                            </div>
                            <div class="col-11 px-3">
                                <h5 class="mb-3">Pay Only When Hired</h5>
                                <p class="text-black-50">We pride ourselves in learning first, paying later. So you'll only need to pay once you are employed!</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-none d-xl-inline">
            <div style="width: 700px; height: 700px;">
                <img src="/images/banner3.9ead8e9.png" class="img-fluid" alt="...">
            </div>
        </div>

    </div>
</div>